// .v-application {
//   font-family: "Montserrat" !important;
// }
// .fade-enter-active,
// .fade-leave-active {
//   transition: opacity 3s;
// }

// .fade-enter,
// .fade-leave-to {
//   opacity: 0;
// }

// body::-webkit-scrollbar {
//   width: 12px;
//   scrollbar-width: thin;
//   /* ширина scrollbar */
// }

.m-open {
  overflow: hidden;
  // height: 100vh;
  // scrollbar-width: 0;
  // &::-webkit-scrollbar {
  //   width: 0;
  // }

  transition: overflow 0.2s ease;
  // animation: hide-scroll 0.2s ease;

  // @keyframes hide-scroll {

  //   // from,
  //   to {
  //     overflow: hidden;
  //   }
  // }
}

.v-main {
  padding-top: var(--toolbar-height) !important; //$toolbar-mobile-height;

  // @include md {
  //   margin-top: $toolbar-desktop-height;
  // }
}

.toasted-container {
  font-family: $body-font-family !important;

  &.top-right {
    top: 10px !important;
    right: 20px !important;

    @media only screen and (max-width: 600px) {
      top: 0 !important;
      right: 0 !important;
    }
  }
}

.pa-standart {
  padding: 12px !important;
}

.imageBackground {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  > .v-responsive__content {
    display: none;
  }

  > .v-responsive__sizer {
    display: none;
  }

  //   >.v-responsive__sizer {
  //     padding-bottom: 0% !important;
  //   }

  //   >.v-responsive__content {
  //     width: unset;
  //   }
}

// $toolbar-mobile-height;$toolbar-desktop-height;

.dialog-content-wrapper {
  margin: $toolbar-mobile-height + $dialog-mobile-margin $dialog-mobile-margin $dialog-mobile-margin !important;
  max-height: calc(100% - #{$toolbar-mobile-height + $dialog-mobile-margin * 2}) !important;

  @include md {
    margin: $toolbar-desktop-height + $dialog-desktop-margin $dialog-desktop-margin $dialog-desktop-margin !important;
    max-height: calc(100% - #{$toolbar-desktop-height + $dialog-desktop-margin * 2}) !important;
    max-width: 900px !important;
  }

  @include lg {
    max-width: 1185px !important;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.v-navigation-drawer--temporary {
  z-index: 4000 !important;
}

// .dialog-image-wrapper {
//   margin-top: 120px !important;
//   max-height: calc(90vh - 100px) !important;
// }

// @media (min-width: 960px) {

//   .dialog-content-wrapper {
//     max-width: 900px !important;
//   }
// }

// @media (min-width: 1264px) {

//   .dialog-content-wrapper {
//     max-width: 1185px !important;
//   }
// }
// .theme--dark.v-breadcrumbs{
//   .v-breadcrumbs__item {
//     color: white;

//     &:hover {
//       color: #d50000;
//     }
//   }
// }
// .v-toolbar__content,
// .v-toolbar__extension {
//   padding-top: 0px !important;
//   padding-bottom: 0px !important;

// }

// .ya-phone a,
// .ya-phone-icon a {
//   text-decoration: none;
// }

// .white--text {
//   &>* {
//     color: white
//   }
// }

// .primary--text.theme--dark {
//   color: #d50000 !important;
// }

// .quantity {
//   .v-input__control {
//     min-width: 45px;
//   }

//   input {
//     text-align: center !important;
//   }
// }

// .footer-list .v-list__tile {
//   font-size: 0.9rem !important;
//   font-weight: 300;
//   height: 2.5rem !important;
// }

.underline-on-hover {
  text-decoration: none;
  color: darken($accent, 20%);

  &:hover {
    text-decoration: underline;
    color: $accent !important;
  }
}

// html::-webkit-scrollbar {
//   width: 16px;
//   height: 16px
// }

// html::-webkit-scrollbar-thumb {
//   background: #e4e4e4;
//   // background: #434343;
//   border-radius: 16px;
//   box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(0, 0, 0, .25)
// }

// html::-webkit-scrollbar-track {
//   // background: linear-gradient(90deg, #434343, #434343 1px, #111 0, #111)
//   background: linear-gradient(90deg, #a5a5a5, #e0e0e0 1px, #d2d2d2 0, #f5f5f5);
// }

.fs-1 {
  font-size: 1rem;
}

.fs-1-3,
.fs-1-3 > * {
  font-size: 1.3rem !important;
}

.fs-1-5 {
  font-size: 1.5rem;
}

.fs-2 {
  font-size: 2rem;
}

// .heading-font {
//   font-family: $heading-font-family !important;
//   font-weight: 700;
// }

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font {
  font-family: $heading-font-family;
  // font-weight: 700;
}

// .mont {
//   font-family: 'Mont' !important;

//   &>*,
//   &>*>* {
//     font-family: 'Mont' !important;
//   }
// }

// .td-none {
//   text-decoration: none;
// }

// img {
//   max-width: 100%
// }

.display-flex {
  display: flex;
}

.display-flex.row {
  flex-direction: row;
}

.display-flex.column {
  flex-direction: column;
}

.d-flex.column {
  flex-direction: column;
}

.display-flex.wrap {
  flex-wrap: wrap;
}

.pos-relative {
  position: relative;
}

.v-list-group__header {
  padding-left: 0 !important;
}

// .background {
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;

// }

.background-repeat {
  background-color: #f0f0f0;
  background-repeat: repeat;
  background-size: 100% auto;
  background-position: 50%;
  // position: relative;
}
.background-fixed {
  background-attachment: fixed;
}

.background-with-transparent {
  // background-image: url(/bg.jpg);
  background-image: linear-gradient(to left, rgb(255 255 255 / 31%), rgb(255 255 255 / 82%)), url(/bg.jpg);
  background-color: #f0f0f0;
  background-repeat: repeat;
  background-size: 100% auto;
  background-position: 50%;
  position: relative;
}

html {
  font-size: 14px !important;
}

.w-100 {
  width: 100%;
}

.fill-width {
  width: 100% !important;
  max-width: 100% !important;
}

// .main-header {
//   .v-toolbar__content {
//     padding: 0 !important;
//   }
// }

// .main-carousel {
//   .v-image__image.v-image__image--cover {
//     background-color: #212121;
//   }

//   min-height: 500px;

//   .v-window__container {
//     min-height: 500px;

//     .v-carousel__item {
//       min-height: 500px;
//     }
//   }
// }

@media (min-width: 576px) {
  html {
    font-size: 16px !important;
  }
}

// @media (min-width:1199px) {
//     html {
//         font-size:18px !important;
// 	}
// }

input[type="number"] {
  -moz-appearance: textfield;
}

@media (min-width: 1904px) {
  .container:not(.container--fluid) {
    max-width: 1570px !important;
  }
}

.accent--text {
  color: $accent !important;
  caret-color: $accent !important;
}

.accent {
  background-color: $accent !important;
  border-color: $accent !important;
}

// .error {
//   background-color: $error !important;
//   border-color: $error !important;
// }

.error--text {
  color: $error;
  caret-color: $error;
}

.success {
  background-color: $success;
  border-color: $success;
}

.success--text {
  color: $success;
  caret-color: $success;
}

.success {
  background-color: $success;
  border-color: $success;
}

.primary--text {
  color: $primary !important;
  caret-color: $primary !important;
}

.black {
  background-color: $black !important;
  border-color: $black !important;
}

.black--text {
  color: $black !important;
  caret-color: $black !important;
}

.v-application .grey {
  background-color: #9e9e9e !important;
  border-color: #9e9e9e !important;
}

.v-application .grey.lighten-3 {
  background-color: #eee !important;
  border-color: #eee !important;
}

.v-application .grey.lighten-2 {
  background-color: #e0e0e0 !important;
  border-color: #e0e0e0 !important;
}

.v-application .grey.lighten-1 {
  background-color: #bdbdbd !important;
  border-color: #bdbdbd !important;
}

.v-application .grey.lighten-4 {
  background-color: #f5f5f5 !important;
  border-color: #f5f5f5 !important;
}
