// Import Vuetify styling


// $body-font-family = 'Mont'
// $heading-font-family = 'Lumberjack Rough'
// @import '~vuetify/src/stylus/main.styl'
// .application {
// 	font-family: $body-font-family;
// }
// .fill-height {
//     height: 100%;
// }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
// .basketWrapper .v-text-field input {
//   text-align: center;
  
// }
.v-navigation-drawer--temporary {
    z-index: 4000 !important;
}
.v-toolbar__content, .v-toolbar__extension{
    padding-top: 0px !important;
    padding-bottom: 0px !important;

}
.ya-phone a, .ya-phone-icon a{
    text-decoration: none;
    // color:white
}
.white--text{
    &>*{
        color:white
    }
}
.primary--text.theme--dark{
	color:#d50000 !important;
}
.v-navigation-drawer--temporary, .v-navigation-drawer--is-mobile{
    z-index: 3000;
}
.dialog-content-wrapper {
  margin-top: 80px !important;
  max-height: calc(90% - 80px) !important;
  // margin-bottom: 5px;
}
@media (min-width: 960px) {
    .dialog-content-wrapper {
    max-width: 900px !important;
  }
}
@media (min-width: 1264px) {
  .dialog-content-wrapper {
    max-width: 1185px !important;
  }
}
.quantity {
  .v-input__control{
    min-width: 45px;
  }
  input {
    text-align: center !important;
  }
}
.footer-list .v-list__tile {
    font-size: 0.9rem !important;
    font-weight: 300;
    height: 2.5rem !important;
}
.underline-on-hover {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: #d50000 !important;
  }
}

// @font-face {
// 	font-family: 'Lumberjack';
// 	src: url('~assets/fonts/Lumberjack/Lumberjack.eot');
// 	src: local('Lumberjack'),
// 		url('~assets/fonts/Lumberjack/Lumberjack.eot?#iefix') format('embedded-opentype'),
// 		url('~assets/fonts/Lumberjack/Lumberjack.woff') format('woff'),
// 		url('~assets/fonts/Lumberjack/Lumberjack.ttf') format('truetype');
// 	font-weight: normal;
// 	font-style: normal;
// }



// @font-face {
//     font-family: 'Mont';
//     src: url('~assets/fonts/Mont/Mont-ExtraLight.eot');
//     src: local('Mont ExtraLight'), local('Mont-ExtraLight'),
//         url('~assets/fonts/Mont/Mont-ExtraLight.eot?#iefix') format('embedded-opentype'),
//         url('~assets/fonts/Mont/Mont-ExtraLight.woff2') format('woff2'),
//         url('~assets/fonts/Mont/Mont-ExtraLight.woff') format('woff'),
//         url('~assets/fonts/Mont/Mont-ExtraLight.ttf') format('truetype');
//     font-weight: 200;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Mont';
//     src: url('~assets/fonts/Mont/Mont-Bold.eot');
//     src: local('Mont Bold'), local('Mont-Bold'),
//         url('~assets/fonts/Mont/Mont-Bold.eot?#iefix') format('embedded-opentype'),
//         url('~assets/fonts/Mont/Mont-Bold.woff2') format('woff2'),
//         url('~assets/fonts/Mont/Mont-Bold.woff') format('woff'),
//         url('~assets/fonts/Mont/Mont-Bold.ttf') format('truetype');
//     font-weight: bold;
//     font-style: normal;
// }


// @font-face {
//     font-family: 'Mont';
//     src: url('~assets/fonts/Mont/Mont-Heavy.eot');
//     src: local('Mont Heavy'), local('Mont-Heavy'),
//         url('~assets/fonts/Mont/Mont-Heavy.eot?#iefix') format('embedded-opentype'),
//         url('~assets/fonts/Mont/Mont-Heavy.woff2') format('woff2'),
//         url('~assets/fonts/Mont/Mont-Heavy.woff') format('woff'),
//         url('~assets/fonts/Mont/Mont-Heavy.ttf') format('truetype');
//     font-weight: 800;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Mont';
//     src: url('~assets/fonts/Mont/Mont-SemiBold.eot');
//     src: local('Mont SemiBold'), local('Mont-SemiBold'),
//         url('~assets/fonts/Mont/Mont-SemiBold.eot?#iefix') format('embedded-opentype'),
//         url('~assets/fonts/Mont/Mont-SemiBold.woff2') format('woff2'),
//         url('~assets/fonts/Mont/Mont-SemiBold.woff') format('woff'),
//         url('~assets/fonts/Mont/Mont-SemiBold.ttf') format('truetype');
//     font-weight: 600;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Mont';
//     src: url('~assets/fonts/Mont/Mont-RegularItalic.eot');
//     src: local('Mont Regular Italic'), local('Mont-RegularItalic'),
//         url('~assets/fonts/Mont/Mont-RegularItalic.eot?#iefix') format('embedded-opentype'),
//         url('~assets/fonts/Mont/Mont-RegularItalic.woff2') format('woff2'),
//         url('~assets/fonts/Mont/Mont-RegularItalic.woff') format('woff'),
//         url('~assets/fonts/Mont/Mont-RegularItalic.ttf') format('truetype');
//     font-weight: normal;
//     font-style: italic;
// }


// @font-face {
//     font-family: 'Mont';
//     src: url('~assets/fonts/Mont/Mont-LightItalic.eot');
//     src: local('Mont Light Italic'), local('Mont-LightItalic'),
//         url('~assets/fonts/Mont/Mont-LightItalic.eot?#iefix') format('embedded-opentype'),
//         url('~assets/fonts/Mont/Mont-LightItalic.woff2') format('woff2'),
//         url('~assets/fonts/Mont/Mont-LightItalic.woff') format('woff'),
//         url('~assets/fonts/Mont/Mont-LightItalic.ttf') format('truetype');
//     font-weight: 300;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Mont';
//     src: url('~assets/fonts/Mont/Mont-Thin.eot');
//     src: local('Mont Thin'), local('Mont-Thin'),
//         url('~assets/fonts/Mont/Mont-Thin.eot?#iefix') format('embedded-opentype'),
//         url('~assets/fonts/Mont/Mont-Thin.woff2') format('woff2'),
//         url('~assets/fonts/Mont/Mont-Thin.woff') format('woff'),
//         url('~assets/fonts/Mont/Mont-Thin.ttf') format('truetype');
//     font-weight: 100;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Mont';
//     src: url('~assets/fonts/Mont/Mont-Regular.eot');
//     src: local('Mont Regular'), local('Mont-Regular'),
//         url('~assets/fonts/Mont/Mont-Regular.eot?#iefix') format('embedded-opentype'),
//         url('~assets/fonts/Mont/Mont-Regular.woff2') format('woff2'),
//         url('~assets/fonts/Mont/Mont-Regular.woff') format('woff'),
//         url('~assets/fonts/Mont/Mont-Regular.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Mont';
//     src: url('~assets/fonts/Mont/Mont-Light.eot');
//     src: local('Mont Light'), local('Mont-Light'),
//         url('~assets/fonts/Mont/Mont-Light.eot?#iefix') format('embedded-opentype'),
//         url('~assets/fonts/Mont/Mont-Light.woff2') format('woff2'),
//         url('~assets/fonts/Mont/Mont-Light.woff') format('woff'),
//         url('~assets/fonts/Mont/Mont-Light.ttf') format('truetype');
//     font-weight: 300;
//     font-style: normal;
// }




ul{
    margin-bottom: 1rem
}
    
// h1 {
//   	font-size: 3.5rem;
// 	margin-bottom: 2rem;
// 	font-family: 'Lumberjack';
//     line-height: normal;
// }
  
// h2{    
// 	font-size: 2.8rem;
//     margin-bottom: 1.5rem;
// 	font-family: 'Lumberjack';
// 	line-height: normal;
//     line-height: normal;
// }

// h3{
//  font-size: 1.75rem;
//     font-weight: 600;
//     margin-bottom: 1rem;
//     line-height: normal;
// }
   

// h4{
// font-size: 1.5rem;

// }

.fs-1{
	font-size:1rem;	
}
.fs-1-3,.fs-1-3>*{
	font-size:1.3rem !important;	
}
.fs-1-5{
	font-size:1.5rem;	
}
.fs-2{
	font-size:2rem;
}

// .display-5{
//         font-size: 3rem !important;
//     line-height: normal !important;
//     font-family: $body-font-family !important;
//     }


// .display-4{
//         font-size: 2.5rem !important;
//     line-height: normal !important;
//     font-family: $body-font-family !important;

//     }

// .display-3 {
//         font-size: 2rem !important;
//     line-height: normal !important;
//     font-family: $body-font-family !important;

//     }

// .display-2 {
//     font-size: 1.5rem !important;
//     line-height: normal !important;
//     font-family: $body-font-family  !important;
//     }
    
// .display-1{
//     font-size: 1.2rem !important;
//     line-height: 1.5 !important;
//     font-family: $body-font-family  !important;
// }

.lumber-rough{
    font-family: 'Lumberjack Rough' !important; 
}

.lumber{
    font-family: 'Lumberjack' !important; 
}

.mont{
    font-family: 'Mont' !important; 
    &>*,&>*>*{
        font-family: 'Mont' !important; 
    }
}

.td-none{
	text-decoration: none;
}

img{
	max-width: 100%
}


.display-flex{
    display: flex;
}
.display-flex.row{
    flex-direction: row;    
}
.display-flex.column{
    flex-direction: column;    
}
.d-flex.column{
    flex-direction: column;
}
.display-flex.wrap{
    flex-wrap: wrap;    
}

.pos-relative{
    position: relative;
}
// .main {
//   min-height: 60vh;
// }
.v-list-group__header {
  padding-left: 0 !important;
}
.background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.background-repeat{
    background-color: rgb(240, 240, 240);
    background-repeat: repeat !important;
    background-size: 100%  !important;
}

.text-decoration-none{
    text-decoration: none;
}

.content-wrapper {
  h2 {
    margin-bottom: 1rem;
  }
  table {
    border-radius: 2px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;

    tr:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    td, th {
      height: 36px;
    }
  }
}

html{
 	font-size:14px !important;
}
   
img[lazy=loading] {
    background-image: url(https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/images/loader-large.gif);
    background-position: center;
}


@media (min-width:576px) {
	html {
		font-size:16px !important;
	}
}
    
@media (min-width:1199px) {
    html {
        font-size:18px !important;
	}
}